body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gameboard {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}
#gameboard > div {
    border: 1px solid black;
}